*.iml
.kotlin
.gradle
**/build/
xcuserdata
!webApp/src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/composeApp/src/jsMain/kotlin/br/gohan/dromedario/JsSecrets.kt
secrets.properties
